<!DOCTYPE html>
<html>
   
    {{partial "head.html" .}}


  <body>
  
    <div class="container">
      <div class="row">
        <div class="col-md-2 " >
          Menü
          <ul class="list-group">{{range .Site.Menus.main}}<li class="nav-item"><a class="nav-link" href="{{.URL}}">{{.Name}}</a></li>{{end}}</ul>
 </div>
        <div class="col-md-9">
          {{ .Content}}
        </div>
      </div>
    

      <ul class="nav">
      
        <li class="nav-item">
          <a class="nav-link" href="https://ahrensburg.city">ahrensburg.city</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ahrensburg-dev.de">Installieren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://doc.ahrensburg-dev.de">doc</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="https://cplus.ahrensburg-dev.de">Cplus</a>
           <li class="nav-item">
          <a class="nav-link" href="https://Rust.ahrensburg-dev.de">Rust</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="https://C.ahrensburg-dev.de">C</a>
           </li>
           <li class="nav-item">
          <a class="nav-link" href="https://phython.ahrensburg-dev.de">PostgreSql</a>
        </li>
          </li>
           <li class="nav-item">
          <a class="nav-link" href="https://python.ahrensburg-dev.de">Python</a>
        </li>
      </ul>

    </div>

    </body>
    </html>





